@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
.h1-about {
    font-family: Poppins;
    text-align: center;
    font-size: 45px;
    margin-top: 6%;
}
.h2-desc{
    font-family: Inter;
    text-align: center;
    margin-top: 3%;
    font-weight: 460;

}
.image {
    border-radius: 5px;
    margin-top: 3%;
    display: block;
    height: 460px;
    filter: drop-shadow(8px 8px 10px gray);
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 710px){
    .image {
        height: 360px;
    }
    .header {
        margin-left: -85px;
    }
}
@media screen and (max-width: 450px){
    .header{
        width: 160vw;
    }
    .h1-about{
        width: 180vw;
    }
    .h2-desc{
        width: 180vw;
    }
    .image{
        width: 150vw;
        margin-left: 14%;
    }
    
}


