@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
.h1-about {
    font-family: Poppins;
    text-align: center;
    font-size: 45px;
    margin-top: 6%;
}

.h2-desc{
    padding: 15px;
    font-family: Inter;
    text-align: center;
    margin-top: 3%;
    font-weight: 460;

}

.image {
    border-radius: 5px;
    margin-top: 3%;
    display: block;
    width: 537px;
    filter: drop-shadow(8px 8px 10px gray);
    margin: 50px auto;
}

@media screen and (max-width: 600px) {
    .image {
        width: 350px !important;
    }
}