@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.header {
  display: flex;
  justify-content: space-around;
  padding: 18px;
  background: transparent;
  align-items: center;
  font-size: 20px;
  color: black;
  box-shadow: 2px 3px 25px rgb(143, 143, 143);
}

.headerTitle {
  letter-spacing: 2px;
  font-size: 20px;
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navListItem {
  margin-left: 25px;
}

.navLink {
  color: black !important;
  text-decoration: none;
}

.navListLinkButton {
  font-family: Inter;
  font-size: 19px !important;
  color: black !important;
}