@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap%27');

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  background: transparent;
  align-items: center;
  font-size: 20px;
  color: black;
  box-shadow: 2px 3px 25px rgb(143, 143, 143);
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 18px;
    padding: 30px 20px;
  }
  .navListItem {
    margin-left: 15px;
  }
}

@media screen and (max-width: 820px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navList {
    margin-left: 0 !important;
    padding-left: 0 !important;
    flex-direction: column;
    align-items: center;
  }
  .navListItem {
    margin-left: 0 !important;
    text-align: center;
    margin: 10px 0;
  }
}

.headerTitle {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navListItem {
  margin-left: 25px;
}

.navLink {
  color: black !important;
  text-decoration: none;
}

.navListLinkButton {
  font-family: Inter;
  font-size: 18px !important;
  color: black !important;
  font-weight: 500;
}