.results {
  padding: 40px;
}

.book {
  margin: 40px;
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  background: rgb(241, 241, 241);
  box-shadow: 1px 3px 15px rgb(148, 148, 148);
}

.bookThumbNail {
  width: 150px;
  border-radius: 5px;
  filter: drop-shadow(8px 8px 10px gray);
}

.bookTite {
  font-size: 35px;
  letter-spacing: 2.5px;
}