@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.results {
  padding: 40px;
}

.book {
  margin: 40px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  text-align: right;
  background: rgb(241, 241, 241);
  box-shadow: 1px 3px 15px rgb(148, 148, 148);
}

.bookThumbNail {
  width: 170px;
  border-radius: 5px;
  filter: drop-shadow(8px 8px 10px gray);
}

.bookRightArea {
  width: 70%;
}

@media screen and (max-width: 1050px) {
  .book {
    flex-direction: column;
    align-items: center;
  }
  .bookRightArea {
    text-align: center;
    width: 100%;
  }
  .bookAuthor {
    text-align: center !important;
  }
  .book {
    padding: 15px 30px !important;
    margin: 20px !important;
  }
}

@media screen and (max-width: 500px) {
  .results {
    padding: 0 !important;
  }
  .bookTite {
    font-size: 25px !important;
  }
}

.bookTite {
  font-family: Poppins;
  font-size: 35px;
  letter-spacing: 2.5px;
}

.knowMoreButton {
  color: white;
  text-decoration: none;
}

.bookAuthor {
  font-size: 22px;
  text-align: right;
}

.bookCategories {
  font-size: 18px;
}