.searchBook {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.contactUsFormContainer {
  width: 600px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.searchBookFormInput {
  margin-bottom: 30px;
  
}

.searchBookFormInput:last-child {
  margin-bottom: 50px;
}

select {
  padding: 15px;
  background: rgb(230, 230, 230);
  border-radius: 5px;
  border: none;
  outline: none;
}

.searchBookHeading {
  font-size: 45px;
  margin-bottom: 55px;
}